In [1]:
# Importing basic Libraries

In [2]:
import numpy as np
import pandas as pd
import streamlit as st
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline
import json
from geopy.distance import great_circle
from geopy.geocoders import Nominatim
#for calculating Disstance 
plt.switch_backend('TkAgg')
import os
#import warnings
#warnings.filterwarnings('ignore')
#sns.set()

In [3]:
# load CSV file into memory

In [4]:
df = pd.read_csv('C:/Users/sushd/Desktop/data analytics course/da-taxi-tech-challenge-master/da-taxi-tech-challenge-master/raw_data/yellow_tripdata_2021-01_raw_updated.csv')

C:\Users\sushd\AppData\Local\Temp\ipykernel_25168\3242702269.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Users/sushd/Desktop/data analytics course/da-taxi-tech-challenge-master/da-taxi-tech-challenge-master/raw_data/yellow_tripdata_2021-01_raw_updated.csv')

In [5]:
#load Json file

In [6]:
# Open the JSON file
# Load surcharge data from JSON file
# Open the JSON file
with open('C:/Users/sushd/Desktop/data analytics course/da-taxi-tech-challenge-master/da-taxi-tech-challenge-master/raw_data/surcharge_data.json', 'r') as f:
    surcharge_df =  pd.DataFrame(json.load(f))

In [7]:
surcharge_df.head()

,559893529209,993405808080,267031741304,355132875433,603494714228,796431455521,292429735915,723218812491,707163995392,762316622020,...,340606840492,727563688853,415155748717,206295159590,615323074645,204125243754,511527970247,795487851532,550977006601,244977907136
improvement_surcharge,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,...,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3
congestion_surcharge,2.5,0.0,0.0,0.0,2.5,2.5,0.0,2.5,0.0,2.5,...,2.5,0.0,0.0,2.5,2.5,0.0,0.0,0.0,0.0,0.0

In [8]:
surcharge_df = surcharge_df.transpose()

In [9]:
surcharge_df.head()

              improvement_surcharge  congestion_surcharge
559893529209                    0.3                   2.5
993405808080                    0.3                   0.0
267031741304                    0.3                   0.0
355132875433                    0.3                   0.0
603494714228                    0.3                   2.5

In [10]:
# Reset the index
surcharge_df = surcharge_df.reset_index()

# Rename the columns
surcharge_df.columns = ['tripId', 'improvement_surcharge', 'congestion_surcharge']

In [11]:
surcharge_df.head()

         tripId  improvement_surcharge  congestion_surcharge
0  559893529209                    0.3                   2.5
1  993405808080                    0.3                   0.0
2  267031741304                    0.3                   0.0
3  355132875433                    0.3                   0.0
4  603494714228                    0.3                   2.5

In [12]:
surcharge_df['tripId'] = surcharge_df['tripId'].astype('Int64')

In [13]:
surcharge_df.dtypes

tripId                     Int64
improvement_surcharge    float64
congestion_surcharge     float64
dtype: object

In [14]:
# checking the size of the csv file

In [15]:
df.shape

(1369765, 16)

In [16]:
# setting the Column 6 to low memory = False

In [17]:
df = pd.read_csv('C:/Users/sushd/Desktop/data analytics course/da-taxi-tech-challenge-master/da-taxi-tech-challenge-master/raw_data/yellow_tripdata_2021-01_raw_updated.csv', low_memory=False)

In [18]:
# checking the data at the top of the file

In [19]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,tripId
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.1,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,559893529209
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.2,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,993405808080
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.7,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,267031741304
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.6,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,355132875433
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,603494714228

In [20]:
# checking the data at the tail of the file

In [21]:
df.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,tripId
1369760,5.0,2021-01-25 08:32:04,2021-01-25 08:49:32,NaN,8.8,NaN,NaN,135,82,6.0,21.84,2.75,0.5,0.0,0.0,204125243754
1369761,4.0,2021-01-25 08:34:00,2021-01-25 09:04:00,NaN,5.86,NaN,NaN,42,161,6.0,26.67,2.75,0.5,0.0,0.0,511527970247
1369762,5.0,2021-01-25 08:37:00,2021-01-25 08:53:00,NaN,4.45,NaN,NaN,14,106,5.0,25.29,2.75,0.5,0.0,0.0,795487851532
1369763,4.0,2021-01-25 08:28:00,2021-01-25 08:50:00,NaN,10.04,NaN,NaN,175,216,5.0,28.24,2.75,0.5,0.0,0.0,550977006601
1369764,5.0,2021-01-25 08:38:00,2021-01-25 08:50:00,NaN,4.93,NaN,NaN,248,168,5.0,20.76,2.75,0.5,0.0,0.0,244977907136

In [22]:
#checking the statistics of the variables in the dataset
df.describe()

,VendorID,passenger_count,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,tripId
count,1.369765e+06,1.271413e+06,1.271413e+06,1.369765e+06,1.369765e+06,1.369765e+06,1.369765e+06,1.369765e+06,1.369765e+06,1.369765e+06,1.369765e+06,1.369765e+06
mean,1.843999e+00,1.411508e+00,1.035081e+00,1.652472e+02,1.614956e+02,1.583443e+00,1.209662e+01,9.705085e-01,4.930411e-01,1.918099e+00,2.477432e-01,5.505093e+11
std,7.822027e-01,1.059833e+00,5.994840e-01,6.783849e+01,7.210800e+01,1.195230e+00,1.291338e+01,1.231256e+00,7.632070e-02,2.597153e+00,1.672755e+00,2.597719e+11
min,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-4.900000e+02,-5.500000e+00,-5.000000e-01,-1.000000e+02,-3.112000e+01,1.000005e+11
25%,1.000000e+00,1.000000e+00,1.000000e+00,1.240000e+02,1.070000e+02,1.000000e+00,6.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.256927e+11
50%,2.000000e+00,1.000000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,8.500000e+00,0.000000e+00,5.000000e-01,1.860000e+00,0.000000e+00,5.506215e+11
75%,2.000000e+00,1.000000e+00,1.000000e+00,2.360000e+02,2.360000e+02,2.000000e+00,1.350000e+01,2.500000e+00,5.000000e-01,2.750000e+00,0.000000e+00,7.756135e+11
max,5.000000e+00,8.000000e+00,9.900000e+01,2.650000e+02,2.650000e+02,6.000000e+00,6.960500e+03,8.250000e+00,5.000000e-01,1.140440e+03,8.117500e+02,9.999999e+11

In [23]:
#It looks like there are some missing values in the dataset since the count values are not the same for all columns. The minimum value for the passenger_count column is 0, which may not be possible for a taxi ride. Similarly, the fare_amount and tip_amount columns have negative values which may be incorrect. The RatecodeID column has a maximum value of 99, which is not within the expected range.

In [24]:
#get an overview of the DataFrame

In [25]:
df.info

<bound method DataFrame.info of          VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0             1.0  2021-01-01 00:30:10   2021-01-01 00:36:12              1.0
1             1.0  2021-01-01 00:51:20   2021-01-01 00:52:19              1.0
2             1.0  2021-01-01 00:43:30   2021-01-01 01:11:06              1.0
3             1.0  2021-01-01 00:15:48   2021-01-01 00:31:01              0.0
4             2.0  2021-01-01 00:31:49   2021-01-01 00:48:21              1.0
...           ...                  ...                   ...              ...
1369760       5.0  2021-01-25 08:32:04   2021-01-25 08:49:32              NaN
1369761       4.0  2021-01-25 08:34:00   2021-01-25 09:04:00              NaN
1369762       5.0  2021-01-25 08:37:00   2021-01-25 08:53:00              NaN
1369763       4.0  2021-01-25 08:28:00   2021-01-25 08:50:00              NaN
1369764       5.0  2021-01-25 08:38:00   2021-01-25 08:50:00              NaN

        trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                 2.1         1.0                  N           142
1                 0.2         1.0                  N           238
2                14.7         1.0                  N           132
3                10.6         1.0                  N           138
4                4.94         1.0                  N            68
...               ...         ...                ...           ...
1369760           8.8         NaN                NaN           135
1369761          5.86         NaN                NaN            42
1369762          4.45         NaN                NaN            14
1369763         10.04         NaN                NaN           175
1369764          4.93         NaN                NaN           248

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                  43           2.0         8.00   3.00      0.5        0.00
1                 151           2.0         3.00   0.50      0.5        0.00
2                 165           1.0        42.00   0.50      0.5        8.65
3                 132           1.0        29.00   0.50      0.5        6.05
4                  33           1.0        16.50   0.50      0.5        4.06
...               ...           ...          ...    ...      ...         ...
1369760            82           6.0        21.84   2.75      0.5        0.00
1369761           161           6.0        26.67   2.75      0.5        0.00
1369762           106           5.0        25.29   2.75      0.5        0.00
1369763           216           5.0        28.24   2.75      0.5        0.00
1369764           168           5.0        20.76   2.75      0.5        0.00

         tolls_amount        tripId
0                 0.0  559893529209
1                 0.0  993405808080
2                 0.0  267031741304
3                 0.0  355132875433
4                 0.0  603494714228
...               ...           ...
1369760           0.0  204125243754
1369761           0.0  511527970247
1369762           0.0  795487851532
1369763           0.0  550977006601
1369764           0.0  244977907136

[1369765 rows x 16 columns]>

In [26]:
# checking for missing values

In [27]:
df.isnull().sum()

VendorID                     0
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          98352
trip_distance                0
RatecodeID               98352
store_and_fwd_flag       98352
PULocationID                 0
DOLocationID                 0
payment_type                 0
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
tripId                       0
dtype: int64

In [28]:
# replacing all null/missing values witheplace the missing values with the most frequent value in each column

In [29]:
df['passenger_count'] = df['passenger_count'].fillna(df['passenger_count'].mode()[0]).astype('int')
df['RatecodeID'] = df['RatecodeID'].fillna(df['RatecodeID'].mode()[0]).astype('int')

In [30]:
# for store _and_fwd_flag

In [31]:
df['store_and_fwd_flag'] = df['store_and_fwd_flag'].fillna('N').astype('category')

In [32]:
# checkin missing values again

In [33]:
# Checking data types

In [34]:
df.dtypes

VendorID                  float64
tpep_pickup_datetime       object
tpep_dropoff_datetime      object
passenger_count             int32
trip_distance              object
RatecodeID                  int32
store_and_fwd_flag       category
PULocationID                int64
DOLocationID                int64
payment_type              float64
fare_amount               float64
extra                     float64
mta_tax                   float64
tip_amount                float64
tolls_amount              float64
tripId                      int64
dtype: object

In [35]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'tripId'],
      dtype='object')

In [36]:
df.dtypes[df.dtypes == 'int64']

PULocationID    int64
DOLocationID    int64
tripId          int64
dtype: object

In [37]:
df.dtypes[df.dtypes == 'float64']

VendorID        float64
payment_type    float64
fare_amount     float64
extra           float64
mta_tax         float64
tip_amount      float64
tolls_amount    float64
dtype: object

In [38]:
df.dtypes[df.dtypes == 'object']

tpep_pickup_datetime     object
tpep_dropoff_datetime    object
trip_distance            object
dtype: object

In [39]:
#removing 'km' so we can converttrip_distanceto numeric value

In [40]:
df['trip_distance'] = df['trip_distance'].str.replace('km', '')

In [41]:
# Convert columns to appropriate data types

In [42]:
df['PULocationID'] = df['PULocationID'].astype('category')
df['DOLocationID'] = df['DOLocationID'].astype('category')
df['tripId'] = df['tripId'].astype('category')

df['VendorID'] = df['VendorID'].astype('int')
df['passenger_count'] = df['passenger_count'].astype('int')
df['RatecodeID'] = df['RatecodeID'].astype('int')
df['payment_type'] = df['payment_type'].astype('int')

df['fare_amount'] = df['fare_amount'].astype('float')
df['extra'] = df['extra'].astype('float')
df['mta_tax'] = df['mta_tax'].astype('float')
df['tip_amount'] = df['tip_amount'].astype('float')
df['tolls_amount'] = df['tolls_amount'].astype('float')

df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

df['trip_distance'] = pd.to_numeric(df['trip_distance'])

df['store_and_fwd_flag'] = df['store_and_fwd_flag'].astype('category')

In [43]:
# The tpep_pickup_datetime and tpep_dropoff_datetime need to be changed into datetime format. 
# The store and fwd flag need to be change into Category Format(Yes/no).

In [44]:
df.dtypes

VendorID                          int32
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int32
trip_distance                   float64
RatecodeID                        int32
store_and_fwd_flag             category
PULocationID                   category
DOLocationID                   category
payment_type                      int32
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
tripId                         category
dtype: object

In [45]:
# expand the date time into weekday, month, hour, min,

In [46]:
df['tpep_pickup_datetime'] =pd.to_datetime(df['tpep_pickup_datetime'])

In [47]:
df['tpep_dropoff_datetime'] =pd.to_datetime(df['tpep_dropoff_datetime'])

In [48]:
# extracting day of the week

In [49]:
df['pickup_day']= df['tpep_pickup_datetime'].dt.day_name()

In [50]:
df['dropoff_day']= df['tpep_dropoff_datetime'].dt.day_name()

In [51]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,tripId,pickup_day,dropoff_day
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,559893529209,Friday,Friday
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,993405808080,Friday,Friday
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,267031741304,Friday,Friday
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,355132875433,Friday,Friday
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,603494714228,Friday,Friday

In [52]:
# extracting day of the weekday

In [53]:
df['pickup_day_num']= df['tpep_pickup_datetime'].dt.weekday

In [54]:
df['dropoff_day_num']= df['tpep_dropoff_datetime'].dt.weekday

In [55]:
# extracting month of the Year

In [56]:
df['pickup_month']= df['tpep_pickup_datetime'].dt.month_name()

In [57]:
df['dropoff_month']= df['tpep_dropoff_datetime'].dt.month_name()

In [58]:
# extracting hour, min

In [59]:
df['pickup_hour']= df['tpep_pickup_datetime'].dt.hour

In [60]:
df['dropoff_hour']= df['tpep_dropoff_datetime'].dt.hour

In [61]:
df['pickup_min']= df['tpep_pickup_datetime'].dt.minute

In [62]:
df['dropoff_min']= df['tpep_dropoff_datetime'].dt.minute

In [63]:
#create a new column called trip_duration

In [64]:
df['trip_duration'] = ((df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60).round().astype(int)

In [65]:
df.dtypes

VendorID                          int32
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int32
trip_distance                   float64
RatecodeID                        int32
store_and_fwd_flag             category
PULocationID                   category
DOLocationID                   category
payment_type                      int32
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
tripId                         category
pickup_day                       object
dropoff_day                      object
pickup_day_num                    int64
dropoff_day_num                   int64
pickup_month                     object
dropoff_month                    object
pickup_hour                       int64
dropoff_hour                      int64
pickup_min                        int64
dropoff_min                       int64
trip_duration                     int32
dtype: object

In [66]:
#drop un necessary columns

In [67]:
len(df[df['fare_amount'] <= 0])

7411

In [68]:
df = df[df['fare_amount'] > 0]

In [69]:
len(df[df['trip_distance'] <= 0])

18968

In [70]:
# grouping by rate code ID

In [71]:
df.groupby('RatecodeID')['trip_distance'].median()

RatecodeID
1      1.70
2     18.40
3     17.03
4     16.26
5      0.00
6      0.00
99     0.00
Name: trip_distance, dtype: float64

In [72]:
tip_by_vendor_day = df.groupby(['VendorID', 'pickup_day']).tip_amount.mean().reset_index()

In [73]:
busiest_hour = df.tpep_pickup_datetime.dt.hour.value_counts().idxmax()

In [74]:
df.drop_duplicates(inplace=True)

C:\Users\sushd\AppData\Local\Temp\ipykernel_25168\3006716147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

In [75]:
 #classify trips by payment type
payment_types = df['payment_type'].unique()
trip_counts = df.groupby('payment_type').size().reset_index(name='count')
total_distance = df.groupby('payment_type')['trip_distance'].sum().reset_index(name='total_distance')
total_fare = df.groupby('payment_type')['fare_amount'].sum().reset_index(name='total_fare')
average_tip = df.groupby('payment_type')['tip_amount'].mean().reset_index(name='average_tip')

import altair as alt
# create visualizations
st.subheader('Payment Type Analysis')
st.write('Total Trips by Payment Type:')
bar_chart = alt.Chart(trip_counts).mark_bar().encode(
    x='payment_type:N',
    y='count:Q'
).properties(width=400, height=300)
st.altair_chart(bar_chart)

st.write('Total Distance by Payment Type:')
bar_chart2 = alt.Chart(total_distance).mark_bar().encode(
    x='payment_type:N',
    y='total_distance:Q'
).properties(width=400, height=300)
st.altair_chart(bar_chart2)

st.write('Total Fare by Payment Type:')
bar_chart3 = alt.Chart(total_fare).mark_bar().encode(
    x='payment_type:N',
    y='total_fare:Q'
).properties(width=400, height=300)
st.altair_chart(bar_chart3)

st.write('Average Tip by Payment Type:')
bar_chart4 = alt.Chart(average_tip).mark_bar().encode(
    x='payment_type:N',
    y='average_tip:Q'
).properties(width=400, height=300)
st.altair_chart(bar_chart4)

2023-05-01 22:51:03.708
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\sushd\anaconda3\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [76]:
import altair as alt

# Calculate average tip by vendor and day
average_tip_by_vendor_and_day = df.groupby(['VendorID', 'pickup_day'])['tip_amount'].mean().reset_index()

# Create a grouped bar chart using Altair
chart5 = alt.Chart(average_tip_by_vendor_and_day).mark_bar().encode(
    x=alt.X('pickup_day:N', title='Day of Week'),
    y=alt.Y('tip_amount:Q', title='Average Tip Amount'),
    color=alt.Color('VendorID:N', title='Vendor ID'),
).properties(
    title='Average Tip Amount by Vendor and Day'
)

st.altair_chart(chart5, use_container_width=True)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [77]:
# Aggregate data by hour of the day
trips_by_hour = df.groupby('pickup_hour')['tripId'].count()

# Plot a bar chart
chart6, ax = plt.subplots()
ax.bar(trips_by_hour.index, trips_by_hour.values)

# Set chart title and labels
ax.set_title('Number of Trips by Hour of the Day')
ax.set_xlabel('Hour of the Day')
ax.set_ylabel('Number of Trips')

# Display the chart in Streamlit
st.pyplot(chart6)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [78]:
# Rename the column in the JSON DataFrame to match the column in the CSV DataFrame
surcharge_df = surcharge_df.rename(columns={'tripId': 'tripId'})

# Merge the JSON DataFrame with the CSV DataFrame using the 'tripId' column as the key
df_merged = pd.merge(df, surcharge_df, on='tripId', how='left')

# View the merged DataFrame
print(df_merged.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2021-01-01 00:30:10   2021-01-01 00:36:12                1
1         1  2021-01-01 00:51:20   2021-01-01 00:52:19                1
2         1  2021-01-01 00:43:30   2021-01-01 01:11:06                1
3         1  2021-01-01 00:15:48   2021-01-01 00:31:01                0
4         2  2021-01-01 00:31:49   2021-01-01 00:48:21                1

   trip_distance  RatecodeID store_and_fwd_flag PULocationID DOLocationID  \
0           2.10           1                  N          142           43
1           0.20           1                  N          238          151
2          14.70           1                  N          132          165
3          10.60           1                  N          138          132
4           4.94           1                  N           68           33

   payment_type  ...  dropoff_day_num  pickup_month  dropoff_month  \
0             2  ...                4       January        January
1             2  ...                4       January        January
2             1  ...                4       January        January
3             1  ...                4       January        January
4             1  ...                4       January        January

   pickup_hour  dropoff_hour  pickup_min dropoff_min trip_duration  \
0            0             0          30          36             6
1            0             0          51          52             1
2            0             1          43          11            28
3            0             0          15          31            15
4            0             0          31          48            17

   improvement_surcharge  congestion_surcharge
0                    0.3                   2.5
1                    0.3                   0.0
2                    0.3                   0.0
3                    0.3                   0.0
4                    0.3                   2.5

[5 rows x 29 columns]

In [79]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'tripId', 'pickup_day',
       'dropoff_day', 'pickup_day_num', 'dropoff_day_num', 'pickup_month',
       'dropoff_month', 'pickup_hour', 'dropoff_hour', 'pickup_min',
       'dropoff_min', 'trip_duration'],
      dtype='object')

In [80]:
print(df.columns)
print(surcharge_df.columns)

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'tripId', 'pickup_day',
       'dropoff_day', 'pickup_day_num', 'dropoff_day_num', 'pickup_month',
       'dropoff_month', 'pickup_hour', 'dropoff_hour', 'pickup_min',
       'dropoff_min', 'trip_duration'],
      dtype='object')
Index(['tripId', 'improvement_surcharge', 'congestion_surcharge'], dtype='object')

In [81]:
# Merge the two DataFrames based on 'tripId'
df = pd.merge(df, surcharge_df, on='tripId', how='left')
df['total_surcharge'] = df['improvement_surcharge'] + df['congestion_surcharge']

In [82]:
# chart to find the relation between congestion surcharge and trip distance

In [83]:
import altair as alt

# Get the data
x = df['trip_distance']
y = df['congestion_surcharge']

# Create the scatter plot
chart7 = alt.Chart(df).mark_circle().encode(
    x=alt.X('trip_distance', title='Trip Distance'),
    y=alt.Y('congestion_surcharge', title='Congestion Surcharge'),
    tooltip=['trip_distance', 'congestion_surcharge']
).properties(title='Relationship between Congestion Surcharge and Trip Distance', width=600, height=400)

# Display the chart in Streamlit
st.altair_chart(chart7, use_container_width=True)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [84]:
# busiest day of the week

In [85]:
plt.figure(figsize=(18, 7))
plt.bar(df['pickup_day'].value_counts().index, df['pickup_day'].value_counts().values)
plt.ylabel('Count')
plt.xlabel('Day of the Week')
plt.title('Busiest Day of the Week')

2023-05-01 22:51:10.423 Using categorical units to plot a list of strings that are all parsable as floats or dates. If these strings should be plotted as numbers, cast to the appropriate data type before plotting.
2023-05-01 22:51:10.425 Using categorical units to plot a list of strings that are all parsable as floats or dates. If these strings should be plotted as numbers, cast to the appropriate data type before plotting.

Text(0.5, 1.0, 'Busiest Day of the Week')

In [86]:
# busiest hour

In [87]:
plt.figure(figsize=(18, 7))
sns.countplot(x=df['tpep_pickup_datetime'].dt.hour, color='goldenrod')
plt.ylabel('Number of Trips')
plt.xlabel('Hour of Day')

Text(0.5, 0, 'Hour of Day')

In [88]:
print(df['pickup_day'].isnull().sum())
print(df['pickup_day'].unique())

0
['Friday' 'Thursday' 'Saturday' 'Monday' 'Sunday' 'Tuesday' 'Wednesday']